// Here you can add other styles
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}
.c-app {
    background: #FFFFFF;
}
.c-sidebar {
    background: #F7F7F7;
    box-shadow: none !important;
}
.c-sidebar .c-sidebar-brand,
.c-sidebar .c-sidebar-minimizer {
    background: transparent;
}
.c-sidebar .c-sidebar-nav-link.c-active, .c-sidebar .c-active.c-sidebar-nav-dropdown-toggle {
    font-weight: bold;
    color: #1D1D1F;
    background-color: #efefef;
}
.c-sidebar .c-sidebar-nav-link, .c-sidebar .c-sidebar-nav-dropdown-toggle {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #1D1D1F;
    & img {
        margin-right: 20px;
    }
    &:hover {
        color: #1D1D1F;
        background-color: #efefef;
    }
}
.c-header {
    padding: .5rem .5rem;
    border-bottom: 0px;
    padding-left: 60px;
    padding-right: 175px;
    height: 120px;
}
.c-wrapper:not(.c-wrapper-fluid) .c-body {
    padding-left: 60px;
    padding-right: 175px;
}
.c-main > .container-fluid, .c-main > .container-sm, .c-main > .container-md, .c-main > .container-lg, .c-main > .container-xl, .c-main > .container-xxl {
    padding: 0px;
}

.card {
    border: none;
    padding: 10px 24px;
    background: #FFFFFF;
    box-shadow: 0px 0px 24px rgb(0 0 0 / 10%);
    border-radius: 20px;

}
.fix-view-card {
    max-width: 368px;
    width: 100%;
}
.btn.btn-danger {
    background: #D12421;
    border-radius: 8px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    height: 48px;
    color: #FFFFFF;
    &:hover {
        background-color: #c82333;
    }
}
.c-footer .btns-wrap .btn {
    width: 150px;
    height: 40px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
.btn-danger:not(:disabled):not(.disabled).active, .btn-danger:not(:disabled):not(.disabled):active, .show>.btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #bd2130;
    border-color: #b21f2d;
}

.c-footer {
    background: transparent;
    border: none;
    padding-bottom: 30px;
}
.btn.disabled, .btn:disabled {
    cursor: not-allowed;
}
.btn.disabled, .btn:disabled {
    opacity: .65;
    box-shadow: none;
}

.security-grid-side h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #1D1D1F;
    position: relative;
    cursor: pointer;
    padding: 0px 15px;
    margin: 0px;
    &::after {
        content: url(../assets/img/icons/arrow-down.svg);
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: all .2s ease-in;
    }
    & span {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #1D1D1F;
        margin-top: 10px;
        display: inline-block;
    }
}
.security-grid-main {
    max-width: 928px;
    width: 100%;
}
.security-grid-table {
    .security-grid-cell {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        padding: 0px 5px;
        &:first-of-type {
            width: 70px;
        }
    }
    .simple-link {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        transition: all .2s ease-in;
        &:hover {
            color: #D12421;
            text-decoration: none;
        }
    }
    .security-grid-row:first-of-type {
        margin-top: .75rem;
    }
}

.dashboard-infobar {
    position: relative;
    & img {
        position: absolute;
        right: 1rem;
        top: 1rem;
        max-width: 26px;
    }
    &-title {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #1D1D1F;
    }
    &-info {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #1D1D1F;
    }
}


#chart  {
    .apexcharts-menu-icon,
    .apexcharts-zoomin-icon, .apexcharts-zoomout-icon {
        transform: initial;
    }
    .apexcharts-toolbar {
        max-width: initial;
    }
    .apexcharts-toolbar div {
        margin-left: 9px;
    }
    .apexcharts-zoom-icon, .apexcharts-zoomin-icon, .apexcharts-zoomout-icon, .apexcharts-reset-icon, .apexcharts-pan-icon, .apexcharts-selection-icon, .apexcharts-menu-icon, .apexcharts-toolbar-custom-icon {
        width: initial;
    }
    .apexcharts-zoomin-icon path:last-of-type, .apexcharts-zoomout-icon path:last-of-type {
        fill: #D12421;
    }
    .custom-icon-bar {
        margin-left: 5px;
    }
}


#chart,
#chart-bar {
    max-width: 1350px;
}

.breadcrumb {
    padding: 0.75rem 0px;
    border: none;
    margin-bottom: 0px;
    font-weight: 500;
    & a {
        color: #b21f2d;
        transition: all .2s ease-in;
        &:hover {
            color: #000000;
            text-decoration: none;
        }
    }
}

.h-40px {
    height: 40px !important;
}
.w-100px {
    width: 100px !important;
}
.w-136px {
    width: 136px !important;
}
.btn.btn-default:hover {
    background: #f7f7f7;
}
.inputs-separate .form-group {
    border-bottom: 1px solid #E3E4E4;
    margin-bottom: 9px;
    &:last-of-type {
        border-bottom: none;
        margin-bottom: 0px;
    }
}

.form-group.disabled {
    a input {
        transition: all .2s ease-in;
    }
    a:hover {
        text-decoration: none;
        & input {
            color: #D12421;
            cursor: pointer;
        }
    }
}

.profile-photo-card {
    & img {
        position: relative; 
        align-self: center;
        object-fit: cover;
    }
}

.avatar-profile {
    position: relative;
    align-self: center;
    margin-bottom: 40px;
    object-fit: cover;
}

.btn-square {
    width: 70px !important;
    height: 70px !important;
    border-radius: 8px !important;
}

.profile-photo-card {
    height: 324px;
}