// Here you can add other styles
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}
.c-app {
    background: #FFFFFF;
}
.c-sidebar {
    background: #F7F7F7;
    box-shadow: none !important;
}
.c-sidebar .c-sidebar-brand,
.c-sidebar .c-sidebar-minimizer {
    background: transparent;
}
.c-sidebar .c-sidebar-nav-link.c-active, .c-sidebar .c-active.c-sidebar-nav-dropdown-toggle {
    font-weight: bold;
    color: #1D1D1F;
    background-color: #efefef;
}
.c-sidebar .c-sidebar-nav-link, .c-sidebar .c-sidebar-nav-dropdown-toggle {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #1D1D1F;
    & img {
        margin-right: 20px;
    }
    &:hover {
        color: #1D1D1F;
        background-color: #efefef;
    }
}
.c-header {
    padding: .5rem .5rem;
    border-bottom: 0px;
    padding-left: 60px;
    padding-right: 175px;
    height: 120px;
}
.c-wrapper:not(.c-wrapper-fluid) .c-body {
    padding-left: 60px;
    padding-right: 175px;
}
.c-main > .container-fluid, .c-main > .container-sm, .c-main > .container-md, .c-main > .container-lg, .c-main > .container-xl, .c-main > .container-xxl {
    padding: 0px;
}

.card {
    border: none;
    padding: 10px 24px;
    background: #FFFFFF;
    box-shadow: 0px 0px 24px rgb(0 0 0 / 10%);
    border-radius: 20px;

}
.fix-view-card {
    max-width: 368px;
    width: 100%;
}
.btn.btn-danger {
    background: #D12421;
    border-radius: 8px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    height: 48px;
    color: #FFFFFF;
}
.btns-wrap .btn {
    width: 150px;
    height: 40px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
.btn-danger:not(:disabled):not(.disabled).active, .btn-danger:not(:disabled):not(.disabled):active, .show>.btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #bd2130;
    border-color: #b21f2d;
}

.c-footer {
    background: transparent;
    border: none;
    padding-bottom: 30px;
}
.btn.disabled, .btn:disabled {
    cursor: not-allowed;
}
.btn.disabled, .btn:disabled {
    opacity: .65;
    box-shadow: none;
}
.custom-table-wrap {
    .table tr:first-child {
        & th {
            border-top: none;
        }
    }
    &.text-nowrap {
        & .table {
            white-space: nowrap!important;
        }
    }
    &.custom-table-responsive {
        & .react-bootstrap-table {
            display: block;
            width: 100%;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            flex: 1 1 auto;
            min-height: 1px;
            padding: 0!important;
        }
    }
    & .table {
        border-collapse: collapse;
        width: 100%;
        table-layout: auto;
        & thead th {
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.2px;
            color: #D12421;
        }
        & td {
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.2px;
            color: #1D1D1F;
            vertical-align: middle !important;
            border-top: 1px solid #BECDE0;
        }
    }
}
.react-bootstrap-table-pagination-total {
    background: transparent;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.3px;
    color: #1D1D1F;
    padding: 0px;
    & span {
        color: #d1243e;
    }
}
.react-bootstrap-table-page-btns-ul {
    justify-content: flex-end;
    & > li {
        margin: 5px;
        &:hover,
        &.active {
            & a.page-link{
                color: #D12421 !important;
                background-color:  transparent;
                border-color:  transparent;
            }
        }
    }
    & .page-link {
        background: transparent;
        border: none;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        text-align: right;
        letter-spacing: 0.3px;
        color: #1D1D1F;
        padding: 0px;
    }
}
.react-bootstrap-table-pagination {
    margin-top: 40px;
}