.custom-grid-filter-content {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% - 47px);
        height: 1px;
        background: #BECDE0;
    }
}
.custom-grid-filter-item {
    padding: 0px 24px;
    height: 70px;
}
.custom-grid-filter-3  {
     .custom-grid-filter-content {
        max-width: 650px;
        width: 100%;
        flex-direction: initial;
    }
    .custom-grid-filter-item {
        width: 33.33%;
    }
    .custom-grid-filter-item:nth-child(1), 
    .custom-grid-filter-item:nth-child(2),
    .custom-grid-filter-item:nth-child(3) {
        padding-bottom: 8px;
    }
    .custom-grid-filter-item:nth-child(3n+2) {
        border-left: 1px solid #BECDE0;
        border-right: 1px solid #BECDE0;
    }
}

.btn.btn-default {
    background: #FFFFFF;
    box-shadow: 0px 0px 24px rgb(0 0 0 / 12%);
    border-radius: 8px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    height: 48px;
    color: #D12421;
    border: none;
}
.btn.btn-danger {
    background: #D12421;
    border-radius: 8px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    height: 48px;
    color: #FFFFFF;
}

.custom-grid-filter-btns {
    .custom-grid-filter-btns .btn {
        width: 136px;
    }
    .btn.btn-default {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #D12421;
    }
    .btn.btn-danger {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
    }
}
.form-control {
    padding: 0px;
}
.control-label {
    flex: initial;
    width: 100%;
    max-width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    text-align: left;
    color: #D12421 !important;
    margin-bottom: 0px;
}

.react-datepicker__input-container {
    position: relative;
    padding-left: 35px;
    &:before {
        content: url(../assets/img/icons/calendar.svg);
        position: absolute;
        left: 0;
        top: 57%;
        transform: translateY(-50%);
    }
}
.react-datepicker-popper {
    z-index: 9999999;
    & .react-datepicker {
        background: #FFFFFF;
        box-shadow: 0px 0px 24px rgb(0 0 0 / 10%);
        border-radius: 20px !important;
        border: none;
        font-family: 'Montserrat', sans-serif;
    }
    & .react-datepicker__header {
        border: none;
        background:  #FFFFFF;
        font-weight: 700;
        font-size: 16px;
    }
    .react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
        font-size: 16px;
    }
    .react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range,
    .react-datepicker__day--selected:hover, .react-datepicker__day--in-selecting-range:hover, .react-datepicker__day--in-range:hover, .react-datepicker__month-text--selected:hover, .react-datepicker__month-text--in-selecting-range:hover, .react-datepicker__month-text--in-range:hover, .react-datepicker__quarter-text--selected:hover, .react-datepicker__quarter-text--in-selecting-range:hover, .react-datepicker__quarter-text--in-range:hover, .react-datepicker__year-text--selected:hover, .react-datepicker__year-text--in-selecting-range:hover, .react-datepicker__year-text--in-range:hover {
        background: #D12421;
    }
}

.custom-grid-filter-2 {
    .custom-grid-filter-content {
        max-width: 430px;
        width: 100%;
        flex-direction: initial;
    }
    .custom-grid-filter-item {
        width: 50%;
        &:nth-of-type(odd) {
            border-right: 1px solid #BECDE0;
        }
    }
}